
.table-header {
    display: inline-flex;
  border-bottom: 1px solid #eeeeee;
  text-align: justify;
  padding-top: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  width: 90%;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.01em;

  color: #b5b7c0;
  padding-left: 38px;
}

.column-label {
    width: 90px;
  
}

.row {
    display: inline-flex;
  border-bottom: 1px solid #eeeeee;
  text-align: justify;
  height: 70px;
  width: 90%;
  justify-content: space-between;
  align-items: center;


  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.01em;

  color: #292d32;


}

.row-element {
   

}

.status-active {
 color: #008767;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  text-align: center;
 font-size: 14px;
 
  
}

.status-inactive {
    
    
    color: #DF0404;
     background: #FFC5C5;
     border: 1px solid #DF0404;
     border-radius: 4px;

     width: 80px;
     height: 30px;
     text-align: center;
    font-size: 14px;
    
     
   }